{
    "presets": [
        [ "env", {
            "targets": {
                "node": "current",
                "browser": [ 'last 2 versions', 'not ie 11' ]
            }
        }]
    ],
    "plugins": [
        "transform-export-extensions",
        "transform-class-properties",
        "transform-object-rest-spread"
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
